<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>k</td>
        <td>dddddddd</td>
        <td><a class="show_14205" href="/books/14205">Show</a></td>
        <td><a class="edit_14205" href="/books/14205/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_14205" rel="nofollow" data-method="delete" href="/books/14205">Destroy</a></td>
      </tr>
      <tr>
        <td>タイトル</td>
        <td>qazx</td>
        <td><a class="show_14207" href="/books/14207">Show</a></td>
        <td><a class="edit_14207" href="/books/14207/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_14207" rel="nofollow" data-method="delete" href="/books/14207">Destroy</a></td>
      </tr>
      <tr>
        <td>a→ｂ</td>
        <td>a</td>
        <td><a class="show_14209" href="/books/14209">Show</a></td>
        <td><a class="edit_14209" href="/books/14209/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_14209" rel="nofollow" data-method="delete" href="/books/14209">Destroy</a></td>
      </tr>
      <tr>
        <td>k</td>
        <td>ああああ</td>
        <td><a class="show_14208" href="/books/14208">Show</a></td>
        <td><a class="edit_14208" href="/books/14208/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_14208" rel="nofollow" data-method="delete" href="/books/14208">Destroy</a></td>
      </tr>
      <tr>
        <td>ああああ</td>
        <td>あああ</td>
        <td><a class="show_14210" href="/books/14210">Show</a></td>
        <td><a class="edit_14210" href="/books/14210/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_14210" rel="nofollow" data-method="delete" href="/books/14210">Destroy</a></td>
      </tr>
      <tr>
        <td>k</td>
        <td>kww</td>
        <td><a class="show_14206" href="/books/14206">Show</a></td>
        <td><a class="edit_14206" href="/books/14206/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_14206" rel="nofollow" data-method="delete" href="/books/14206">Destroy</a></td>
      </tr>
      <tr>
        <td>tt</td>
        <td>tt</td>
        <td><a class="show_14211" href="/books/14211">Show</a></td>
        <td><a class="edit_14211" href="/books/14211/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_14211" rel="nofollow" data-method="delete" href="/books/14211">Destroy</a></td>
      </tr>
      <tr>
        <td>illustrator</td>
        <td>イラストレーター</td>
        <td><a class="show_14212" href="/books/14212">Show</a></td>
        <td><a class="edit_14212" href="/books/14212/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_14212" rel="nofollow" data-method="delete" href="/books/14212">Destroy</a></td>
      </tr>
      <tr>
        <td>リーダブルコード</td>
        <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
        <td><a class="show_14198" href="/books/14198">Show</a></td>
        <td><a class="edit_14198" href="/books/14198/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_14198" rel="nofollow" data-method="delete" href="/books/14198">Destroy</a></td>
      </tr>
      <tr>
        <td>トラブル知らずのシステム設計</td>
        <td>システム設計の要点を図解で説明してくれます</td>
        <td><a class="show_14199" href="/books/14199">Show</a></td>
        <td><a class="edit_14199" href="/books/14199/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_14199" rel="nofollow" data-method="delete" href="/books/14199">Destroy</a></td>
      </tr>
      <tr>
        <td>たのしいRuby</td>
        <td>Rubyの入門におすすめです</td>
        <td><a class="show_14200" href="/books/14200">Show</a></td>
        <td><a class="edit_14200" href="/books/14200/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_14200" rel="nofollow" data-method="delete" href="/books/14200">Destroy</a></td>
      </tr>
      <tr>
        <td>入門Git</td>
        <td>gitについての基本操作から内部構造まで解説してくれます</td>
        <td><a class="show_14201" href="/books/14201">Show</a></td>
        <td><a class="edit_14201" href="/books/14201/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_14201" rel="nofollow" data-method="delete" href="/books/14201">Destroy</a></td>
      </tr>
      <tr>
        <td>アルゴリズム図鑑</td>
        <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>
        <td><a class="show_14202" href="/books/14202">Show</a></td>
        <td><a class="edit_14202" href="/books/14202/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_14202" rel="nofollow" data-method="delete" href="/books/14202">Destroy</a></td>
      </tr>
      <tr>
        <td>達人プログラマー</td>
        <td>プログラマ入門者は必読！</td>
        <td><a class="show_14203" href="/books/14203">Show</a></td>
        <td><a class="edit_14203" href="/books/14203/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_14203" rel="nofollow" data-method="delete" href="/books/14203">Destroy</a></td>
      </tr>
  </tbody>
</table>


<h2>New book</h2>
<form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="A5FUx+5sNRtA7rYXZFCk8ipr4XcLB26lFacSwBug4dkoNCR/vuuC2Q9Bo6ZrUiy69nkJZJarCi8f6jZzUOVmkA==" />

  <div class="field">
    <label for="book_title">Title</label>
    <input class="book_title" type="text" name="book[title]" id="book_title" />
  </div>

  <div class="field">
    <label for="book_body">Body</label>
    <textarea class="book_body" name="book[body]" id="book_body">
</textarea>
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Create Book" data-disable-with="Create Book" />
  </div>
</form>